<%- include('layout', { body: content }) %>
<h2>Adicionar Produto</h2>
<form action="/add" method="post" class="vertical-form" onsubmit="return verificarCodigo()">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required>
    <label for="codigo">Código:</label>
    <input type="text" id="codigo" name="codigo" required>
    <label for="descricao">Descrição:</label>
    <input type="text" id="descricao" name="descricao" required>
    <label for="preco">Preço:</label>
    <input type="number" id="preco" name="preco" step="0.01" required>
    <button type="submit">Adicionar</button>
   
</form>
<script>
    async function verificarCodigo() {
        var codigo = document.getElementById('codigo').value;

        try {
            const response = await fetch(`/verificar-codigo/${codigo}`);
            const data = await response.json();

            if (!data.codigoNaoExiste) {
                alert('Código já existe. Por favor, escolha outro.');
                return false; 
            }

            return true; 
        } catch (error) {
            console.error('Erro ao verificar código:', error);
            return false; 
        }
    }
</script>


<a href="/" class="btn-back">Voltar para a Lista de Produtos</a>
